body{
    background-color: rgba(16, 9, 55, 0.867);
          color: rgb(255, 255, 255);
          text-align: center;
    
        
        }
        h2 {
          color: bisque;
        }
    
        nav {
          background-color: cornflowerblue;
          padding: 15px;
        }
    
        a {
          padding: 15px;
        font-size: 30px;}
        
        .opisanie{
          background-color: rgba(0, 225, 255, 0.867);
          padding: 70px; 
          border: 7px solid white;
        width: 400px;
      float: left
      ;}

      
        body{
background-color: rgba(16, 9, 55, 0.867);
      color: rgb(255, 255, 255);
      text-align: center;

    
    }
    h2 {
      color: bisque;
    }

    nav {
      background-color: cornflowerblue;
      padding: 15px;
    }

    a {
      padding: 15px;
    font-size: 30px;}
    
    body{
      background-color: rgba(16, 9, 55, 0.867);
            color: rgb(255, 255, 255);
            text-align: center;
      
          
          }
          h2 {
            color: bisque;
          }
      
          nav {
            background-color: cornflowerblue;
            padding: 15px;
          }
      
          a {
            padding: 15px;
          font-size: 30px;}
          
      
                  
      
      
      



   
                
    
    
    